.container-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.container-product .product {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    border: 10px solid #D6D4D6;
    display: flex;
}


.container-product .product .product-data {
    width: 60%;
    padding: 20px;
}


.container-product .product .product-data .product-info {
    margin-top: 30px;
    padding: 20px;
}


.container-product .product .product-data .product-info .product-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.container-product .product .product-data .product-info .product-img img {
    width: 500px;
    border-radius: 20px;
}




.container-product .product .product-data .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-product .product .header .avatar img {
    border-radius: 50%;
    width: 50px;
}



.container-product .product .product-description {
  background-color: #f2f2f2;
  height:100%;
  width:100%;
}


